.timeline {
	display: grid;
	grid-template-columns: 1fr 1px 1fr;
	padding: 4em 0;

	&__middle-line {
		background-color: var(--light-gray);
		height: 100%;
		transform: translate(0, -4em);
	}

	&__left .timeline-item:first-child {
		margin-top: calc(30% + 2rem);
	}

	&__right .timeline-item:first-child {
		margin-top: 0;
	}
}

.timeline-item {
	position: relative;
	font-size: 0.9rem;
	margin-top: calc(25% + 2em);
	z-index: 1;

	&.odd {
		margin-left: 4em;
	}

	&.even {
		margin-right: 4em;
	}

	&__info {
		border: var(--border-1);

		h6,
		p {
			width: 16ch;
		}

		h6 {
			text-transform: uppercase;
			margin-bottom: 0.2em;
		}

		&__date {
			margin: 0;
			font-weight: 600;
			letter-spacing: 2px;
		}

		&__description {
			word-wrap: break-word;
		}
	}

	&.selected &__info {
		border: var(--border-selected-orange);
	}

	&.odd &__info {
		padding: 1.5em 1.5em 1em 2em;
		border-radius: 0 1.5em 1.5em 1.5em;
	}

	&.even &__info {
		padding: 1.5em 2em 1em 1.5em;
		border-radius: 1.5em 0 1.5em 1.5em;
	}

	// Triangle

	& &__corner:before,
	& &__corner:after {
		content: '';
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 1em;
	}

	// Triangle inner

	& &__corner:before {
		top: 0px;
	}

	&.odd &__corner:before {
		border-color: var(--light-gray) var(--light-gray) transparent transparent;
		left: calc(-1.85em - 0.125em);
	}

	&.odd.selected &__corner:before {
		border-color: var(--transparent-orange) var(--transparent-orange)
			transparent transparent;
	}

	&.even &__corner:before {
		border-color: var(--light-gray) transparent transparent var(--light-gray);
		right: calc(-1.85em - 0.125em);
	}

	&.even.selected &__corner:before {
		border-color: var(--transparent-orange) transparent transparent
			var(--transparent-orange);
	}

	// Triangle border

	& &__corner:after {
		top: 0.0625em;
	}

	&.odd &__corner:after {
		border-color: var(--background) var(--background) transparent transparent;
		left: -1.85em;
	}

	&.even &__corner:after {
		border-color: var(--background) transparent transparent var(--background);
		right: -1.85em;
	}

	// Indicator
	& &__circle-indicator {
		position: absolute;
		width: 1.5em;
		height: 1.5em;
		border-radius: 60rem;
		border: var(--border-1);
		background-color: var(--background);
		top: -0.75em;
		transition: 0.2s ease-in-out;

		&:hover {
			transform: scale(1.5);
			border: var(--border-selected-orange);
		}
	}

	&.selected &__circle-indicator {
		background-color: transparent;
		background-image: var(--gradient-yellow);
	}

	&.odd &__circle-indicator {
		left: -4.8em;
	}

	&.even &__circle-indicator {
		right: -4.8em;
	}
}
