.grid-column-sidebar {
	display: grid;
	grid-template-columns: var(--horizontal-margin) 28ch repeat(4, 1fr) 1.5fr var(
			--horizontal-margin
		);
	grid-gap: 16px;
	grid-template-areas: 'sidebar sidebar . content content content button .';
	scroll-behavior: smooth;
}

.info-container {
	grid-column: 1/-1;
	grid-row: 1;
	overflow: auto;
}

.info-sections {
	grid-area: content;
	padding-top: 2rem;
	max-width: 60ch;
	justify-self: center;
	scroll-behavior: smooth;
}

.languange-button {
	grid-area: button;
	margin-top: var(--top-margin);
	justify-self: end;
}
