.next {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: calc(var(--icon-size) * 1.8);
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.18em;
    color: var(--text-primary);
    grid-column: 2;
    grid-row: 1;
}

.next-icon {
    height: auto;
    width: 100%;
    max-width: 2em;
    margin-left: 0.4em;
}
