@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

:root {
	// Text sizes
	--description-size: 14px;
	--p-options-size: 16px;
	--label-size: 28px;
	--subtitle-size: 35px;
	--title-size: 50px;

	// 1.25 scale
	--large-text: 3.052rem;
	--h1-size: 2.441rem;
	--h2-size: 1.953rem;
	--h3-size: 1.563rem;
	--h4-size: 1.25rem;
	--h5-size: 1rem;
	--h6-size: 1rem;
	--small-text: 0.8rem;

	// colors
	--text-primary: rgba(50, 50, 50, 1);
	--text-secundary: rgba(50, 50, 50, 0.5);
	--secundary-option: #929292;
	--background-light: white;
	--secundary-background-light: #f7f7fa;
	--accent-blue: #009de3;
	--accent-orange: #ff9438;
	--accent-yellow: #ffbb00;
	--gradient-blue: linear-gradient(-135deg, #00ffcc, #1f77ff);
	--gradient-orange: linear-gradient(-135deg, #ff9438, #ff4400);
	--gradient-yellow: linear-gradient(-135deg, #ffbb00, #ff8800);
	--gradient-red: linear-gradient(-135deg, #ff7167, #ff2810);
	--transparent-orange: rgba(255, 148, 56, 0.5);

	--gray-100: #f2f2f2;
	--gray-400: #c6c6c8;
	--gray-500: #959596;

	// Shadows
	--shadow-1: 0 4px 12px rgba(50, 50, 50, 0.1);

	// Borders
	--border-1: 1px solid var(--gray-100);
	--border-1-selected: 1px solid var(--gray-400);
	--border-selected-orange: 1px solid var(--transparent-orange);

	// Spacings
	--horizontal-margin: 32px;
	--top-margin: 24px;
	--bottom-margin: 48px;

	// Size
	--button-size-large: 48px;
}

html {
	color: var(--text-secundary);
	background-color: #f7f7fa;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.app {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: 1px;
	margin: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	background-color: var(--background-light);
}

::-webkit-scrollbar {
	display: none;
}

#__next {
	overflow: hidden;
	height: 100%;
	width: 100%;
	min-width: 320px;
	position: relative;
	box-shadow: 0 20px 20px var(--gray-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-primary);
	font-weight: 700;
	margin: 0.4em 0;
	line-height: 1.5;
}

h1 {
	font-size: var(--h1-size);
}

h2 {
	font-size: var(--h2-size);
}

h3 {
	font-size: var(--h3-size);
}

h4 {
	font-size: var(--h4-size);
}

h5 {
	font-size: var(--h5-size);
}

h6 {
	font-size: var(--h6-size);
}

p,
span {
	max-width: 60ch;
	line-height: 1.625;
}

a,
button {
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.grid-column {
	display: grid;
	grid-template-columns: repeat(14, 6.5%);
	grid-gap: 0 0.7%;
}

.blue {
	background-image: var(--gradient-blue);

	&::before {
		background-image: var(--gradient-blue);
	}
}

.orange {
	background-image: var(--gradient-orange);

	&::before {
		background-image: var(--gradient-orange);
	}
}

.yellow {
	background-image: var(--gradient-yellow);

	&::before {
		background-image: var(--gradient-yellow);
	}
}

.red {
	background-image: var(--gradient-red);

	&::before {
		background-image: var(--gradient-red);
	}
}

.page {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-padding: 0;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.container {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: var(--background-light);
	overflow: hidden;
}

// @media screen and (min-width: 1400px) and (min-height: 900px) and (orientation: landscape) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 16px;
// 		--description-size: 14px;
// 		--label-size: 28px;
// 		--subtitle-size: 36px;
// 		--title-size: 54px;
// 	}

// 	body {
// 		font-size: 20px;
// 	}

// 	#app {
// 		max-height: 1080px;
// 	}
// }

// @media screen and (min-width: 1200px) and (max-height: 670px) and (orientation: landscape) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 14px;
// 		--description-size: 11px;
// 		--label-size: 24px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 	}
// }

// @media screen and (max-width: 1200px) and (orientation: landscape) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 12px;
// 		--description-size: 11px;
// 		--label-size: 20px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 	}
// }

// @media screen and (max-width: 910px) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 12px;
// 		--description-size: 10px;
// 		--label-size: 18px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 	}
// }

// //Portrait Tablets

// @media screen and (max-width: 1024px) and (orientation: portrait) {
// 	.grid-column {
// 		display: grid;
// 		grid-template-columns: repeat(10, 6.8%);
// 		grid-gap: 0 3.3%;
// 	}

// 	#app {
// 		max-height: calc(var(--vh, 1vh) * 100);
// 	}
// }

// @media screen and (max-width: 1024px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 14px;
// 		--description-size: 11px;
// 		--label-size: 20px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 	}
// }

// @media screen and (max-width: 1024px) and (min-height: 1200px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 22px;
// 		--description-size: 18px;
// 		--label-size: 36px;
// 		--subtitle-size: 50px;
// 		--title-size: 72px;
// 	}

// 	body {
// 		font-size: 24px;
// 	}
// }

// @media screen and (max-width: 910px) and (min-height: 750px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 14px;
// 		--description-size: 12px;
// 		--label-size: 24px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 	}
// }

// @media screen and (max-width: 910px) and (min-height: 1000px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 18px;
// 		--description-size: 14px;
// 		--label-size: 28px;
// 		--subtitle-size: 42px;
// 		--title-size: 54px;
// 	}

// 	body {
// 		font-size: 20px;
// 	}
// }

// @media screen and (max-width: 910px) and (min-height: 1250px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 22px;
// 		--description-size: 16px;
// 		--label-size: 32px;
// 		--subtitle-size: 52px;
// 		--title-size: 72px;
// 	}

// 	body {
// 		font-size: 24px;
// 	}
// }

// @media screen and (max-width: 910px) and (min-width: 769px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 20px;
// 		--description-size: 14px;
// 		--label-size: 28px;
// 		--subtitle-size: 42px;
// 		--title-size: 52px;
// 	}

// 	body {
// 		font-size: 22px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 768px) and (min-width: 571px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 16px;
// 		--description-size: 14px;
// 		--label-size: 28px;
// 		--subtitle-size: 40px;
// 		--title-size: 48px;
// 	}

// 	body {
// 		font-size: 20px;
// 		letter-spacing: 0.5px;
// 	}
// }

// //Portrait Phone

// @media screen and (max-width: 570px) and (orientation: portrait) {
// 	.grid-column {
// 		display: grid;
// 		grid-template-columns: 8.5% repeat(4, 17%) 8.5%;
// 		grid-gap: 0 3%;
// 	}
// }

// @media screen and (max-width: 570px) and (min-width: 481px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 14px;
// 		--description-size: 11px;
// 		--label-size: 20px;
// 		--subtitle-size: 36px;
// 		--title-size: 44px;
// 	}

// 	body {
// 		font-size: 16px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 570px) and (min-width: 481px) and (min-height: 960px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 16px;
// 		--description-size: 12px;
// 		--label-size: 24px;
// 		--subtitle-size: 40px;
// 		--title-size: 50px;
// 	}

// 	body {
// 		font-size: 18px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 480px) and (min-width: 421px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 12px;
// 		--description-size: 11px;
// 		--label-size: 20px;
// 		--subtitle-size: 24px;
// 		--title-size: 36px;
// 	}

// 	body {
// 		font-size: 14px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 480px) and (min-width: 421px) and (min-height: 800px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 14px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 420px) and (min-width: 381px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 12px;
// 		--description-size: 12px;
// 		--label-size: 20px;
// 		--subtitle-size: 24px;
// 		--title-size: 36px;
// 	}

// 	body {
// 		font-size: 13px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 420px) and (min-width: 381px) and (max-height: 650px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 11px;
// 		--subtitle-size: 24px;
// 		--title-size: 32px;
// 	}

// 	body {
// 		font-size: 12px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 420px) and (min-width: 381px) and (min-height: 840px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 14px;
// 		--subtitle-size: 30px;
// 		--title-size: 40px;
// 	}

// 	body {
// 		font-size: 16px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 380px) and (min-width: 341px) and (orientation: portrait) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 11px;
// 		--description-size: 11px;
// 		--label-size: 20px;
// 		--subtitle-size: 24px;
// 		--title-size: 32px;
// 	}

// 	body {
// 		font-size: 12px;
// 		letter-spacing: 0.5px;
// 	}
// }

// @media screen and (max-width: 340px) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 10px;
// 		--description-size: 10px;
// 		--label-size: 18px;
// 		--subtitle-size: 20px;
// 		--title-size: 26px;
// 	}

// 	body {
// 		font-size: 10px;
// 		letter-spacing: 0.5px;
// 	}
// }

// //Landscape Phone

// @media screen and (max-width: 910px) and (max-height: 570px) and (orientation: landscape) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 11px;
// 		--subtitle-size: 25px;
// 		--title-size: 36px;
// 	}

// 	body {
// 		font-size: 14px;
// 	}
// }

// @media screen and (max-width: 570px) and (max-height: 640px) and (orientation: landscape) {
// 	:root {
// 		// Text sizes
// 		--p-options-size: 10px;
// 		--subtitle-size: 25px;
// 		--title-size: 26px;
// 	}

// 	body {
// 		font-size: 12px;
// 	}
// }
